<head>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
    $(document).ready(function () {
      flatpickr('#event-date', {
        enableTime: true,
        dateFormat: 'Y-m-d h:iK',
        minDate: 'today',
      });
      $("#movie-name").autocomplete({
        source: function (request, response) {
          $.ajax({
            url: "http://www.omdbapi.com/",
            method: "GET",
            dataType: "json",
            data: {
              apikey: "a401a61d",
              s: request.term
            },
            success: function (data) {
              if (data.Response === "True") {
                var movies = data.Search.map(function (movie) {
                  return movie.Title;
                });
                response(movies);
              } else {
                response([]);
              }
            },
            error: function (error) {
              console.error("Error fetching movies:", error);
            }
          });
        }
      });
    });
  </script>
</head>

<body>

  <body>
    <div class="row">
      <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-6">
        <h3>Create a New Event:</h3>

        <form class="form new-project-form">
          <div class="form-group">
            <label for="movie-name">Movie Name:</label>
            <input class="form-input" type="text" id="movie-name" name="movie-name" />
          </div>
          <div class="form-group">
            <label for="event-date">Event Date and Time:</label>
            <input class="form-input" type="text" id="event-date" name="event-date" />
          </div>
          <div class="form-group">
            <label for="event-location">Location:</label>
            <textarea class="form-input" id="event-location" name="event-location"></textarea>
          </div>
          <div class="form-group">
            <label for="invitees">Invitees:</label>
            <input class="form-input" type="email" id="invitees" name="invitees" />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>

      {{#if events.length}}
      <div class="col-md-6 event-list">
        <h3>Upcoming Events:</h3>

        {{#each events as |event|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/event/{{event.id}}">{{event.movie_name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button class="btn btn-sm btn-danger" data-id="{{event.id}}">DELETE</button>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
    </div>

    <script src="./js/profile.js"></script>
  </body>