<div class="text-center">
  <h2>🎥{{movie_name}}</h2>
  <p>Created by {{user.name}} scheduled for <b>{{event_date}}</b></p>
  <p>Location: {{event_location}}</p>
  <p><button class="btn btn-primary">Close</button></p>
</div>
