<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Fiesta</title>
    <!-- Water.css for default styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <!-- Custom style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="banner-for-header">
            <img src="/assets/banner-for-header.jpg" alt="Header Banner">
        </div>
        <header>
            <nav>
                {{#if logged_in}}
                <a href="/"><button>HOME</button></a>
                <a href="/profile"><button>PROFILE</button></a>
                <button id="logout">LOGOUT</button>
                {{/if}}
            </nav>
        </header>
        <main class="container-fluid mt-5">
            <div class="form-container">
                <div class="form-box">
                    <!-- Login Form -->
                    <main class="container-fluid mt-5">
                        <!-- Render the sub layout -->
                        {{{ body }}}
                    </main>
                </div>
            </div>
        </main>
        <footer>
            <section id="about">
                <h2>About Film Fiesta:</h2>
                <p>Welcome to Film Fiesta, the ultimate destination for movie enthusiasts. Discover, discuss, and delve into the world of cinema with us.</p>
            </section>
            &copy; 2024 Film Fiesta
        </footer>
    </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>